<form class="flexcol {{cssClass}} {{actor.type}}" autocomplete="off">
  {{!-- Sheet Header --}}
  {{> "systems/smt-tc/templates/parts/actor/header.hbs"}}

  {{!-- Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is defined in pc-sheet.mjs or equivalent --}}
    <a class="item resource-label" data-tab="main">{{localize "SMT.tabs.main"}}</a>
    {{#unless (eq system.charClass "demon")}}<a class="item resource-label"
      data-tab="inventory">{{localize "SMT.tabs.inventory"}}</a>{{/unless}}
    <a class="item resource-label" data-tab="bio">{{localize "SMT.tabs.bio"}}</a>
    <a class="item resource-label" data-tab="notes">{{localize "SMT.tabs.notes"}}</a>
    <a class="item resource-label" data-tab="effects">{{localize "SMT.tabs.effects"}}</a>
    {{#if isGM}}<a class="item resource-label" data-tab="demon">{{localize "SMT.tabs.demon"}}</a>{{/if}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Main Tab --}}
    <div class="tab main" data-group="primary" data-tab="main">
      {{> "systems/smt-tc/templates/parts/actor/tab-main.hbs"}}
    </div>

    {{!-- Inventory Tab --}}
    {{#unless (eq system.charClass "demon")}}
    <div class="tab inventory" data-group="primary" data-tab="inventory">
      {{> "systems/smt-tc/templates/parts/actor/tab-inventory.hbs"}}
    </div>
    {{/unless}}

    {{!-- Bio Tab --}}
    <div class="tab bio" data-group="primary" data-tab="bio">
      {{> "systems/smt-tc/templates/parts/actor/tab-bio.hbs"}}
    </div>

    {{!-- Notes Tab --}}
    <div class="tab notes" data-group="primary" data-tab="notes">
      {{editor system.notes target="system.notes" button=true editable=editable}}
    </div>

    {{!-- Effects Tab --}}
    <div class="tab effects" data-group="primary" data-tab="effects">
      {{> "systems/smt-tc/templates/parts/shared/tab-effects.hbs"}}
    </div>

    {{#if isGM}}
    {{!-- Demon Tab --}}
    <div class="tab demon" data-group="primary" data-tab="demon">
      {{> "systems/smt-tc/templates/parts/actor/tab-demon.hbs"}}
    </div>
    {{/if}}
  </section>
</form>