<form class="{{cssClass}}" autocomplete="off">
  {{> "systems/smt-tc/templates/parts/item/header.hbs"}}

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item resource-label" data-tab="main">{{localize "SMT.tabs.main"}}</a>
    <a class="item resource-label" data-tab="options">{{localize "SMT.tabs.options"}}</a>
    <a class="item resource-label" data-tab="notes">{{localize "SMT.tabs.notes"}}</a>
  </nav>

  <section class="sheet-body">
    <div class="tab main" data-group="primary" data-tab="main">
      {{> "systems/smt-tc/templates/parts/item/skill/tab-main.hbs"}}
    </div>

    <div class="tab options" data-group="primary" data-tab="options">
      {{> "systems/smt-tc/templates/parts/item/skill/tab-options.hbs"}}
    </div>

    <div class="tab notes" data-group="primary" data-tab="notes">
      {{editor system.notes target="system.notes" editable=editable}}
    </div>
  </section>
</form>