<section class="attack-pane flexcol">
  <div class="flexrow">
    {{!-- Skill Type (determines phys/mag damage type) --}}
    <div class="flexcol">
      <label for="skill-type-field" class="resource-label">{{localize "SMT.itemFields.skillType"}}</label>
      <select id="skill-type-field" name="system.skillType">
        {{selectOptions SMT.skillTypes selected=system.skillType localize=true}}
      </select>
    </div>

    {{!-- Accuracy Stat --}}
    {{#unless (eq item.itemType "item")}}
    <div class="flexcol">
      <label for="accuracy-stat-field" class="resource-label">{{localize "SMT.itemFields.accuracyStat"}}</label>
      <select id="accuracy-stat-field" name="system.accuracyStat">
        {{selectOptions SMT.accuracyStats selected=system.accuracyStat localize=true}}
      </select>
    </div>
    {{/unless}}

    {{!-- Cost (HP/MP determined by power type) --}}
    {{#if (and (eq system.skillType "gun") (eq system.itemType "weapon"))}}
    <div class="flexcol">
      <label for="current-ammo-field" class="resource-label">{{localize "SMT.itemFields.ammo"}}</label>
      <input type="number" id="ammo-field" name="system.ammo.value" value="{{system.ammo.value}}" placeholder="0"
        data-dtype="Number" />
    </div>
    <div class="flexcol">
      <label for="max-ammo-field" class="resource-label">{{localize "SMT.itemFields.maxAmmo"}}</label>
      <input type="number" id="max-ammo-field" name="system.ammo.max" value="{{system.ammo.max}}" placeholder="0"
        data-dtype="Number" />
    </div>
    {{else}}
    {{#unless (eq system.itemType "item")}}
    <div class="flexcol">
      <label for="cost-field" class="resource-label">{{localize "SMT.itemFields.cost"}}</label>
      <input type="number" id="cost-field" name="system.cost" value="{{system.cost}}" placeholder="0" data-dtype="Number" />
      </div>
      {{else}}
      <div class="flexcol">
        <label for="qty-field" class="resource-label">{{localize "SMT.actorSheet.qty"}}</label>
      <input type="number" id="qty-field" name="system.qty" value="{{system.qty}}" placeholder="1" data-dtype="Number" />
      </div>
      {{/unless}}
      {{/if}}
    {{!-- Potency --}}
    <div class="flexcol">
      <label for="potency-field" class="resource-label">{{localize "SMT.itemFields.potency"}}</label>
      <input type="number" id="potency-field" name="system.potency" value="{{system.potency}}" placeholder="0"
        data-dtype="Number" />
    </div>
  </div>

  <div class="flexrow">
    {{!-- Target --}}
    <div class="flexcol">
      <label for="target-field" class="resource-label">{{localize "SMT.itemFields.target"}}</label>
      <select id="target-field" name="system.target">
        {{selectOptions SMT.targets selected=system.target localize=true}}
      </select>
    </div>
    {{!-- Affinity --}}
    <div class="flexcol">
      <label for="affinity-field" class="resource-label">{{localize "SMT.itemFields.affinity"}}</label>
      <select id="affinity-field" name="system.affinity">
        {{selectOptions SMT.affinities selected=system.affinity localize=true}}
      </select>
    </div>

    <div class="flexcol">
      <label for="ailment-name-field" class="resource-label">{{localize "SMT.itemFields.ailment"}}</label>
      <select id="ailment-name-field" name="system.ailment.name">
        {{selectOptions SMT.ailments selected=system.ailment.name localize=true}}
      </select>
    </div>
    <div class="flexcol">
      <label for="ailment-rate-field" class="resource-label">{{localize "SMT.itemFields.ailmentRate"}}</label>
      <input type="number" id="ailment-rate-field" name="system.ailment.rate" value="{{system.ailment.rate}}"
        placeholder="0" data-dtype="Number" />
    </div>
  </div>
  <div class="flexrow">
    <div class="flexcol">
      <label for="item-type-field" class="resource-label">{{localize
                "SMT.itemFields.itemType"
              }}</label>
      <select id="item-type-field" name="system.itemType">
        {{selectOptions SMT.itemTypes selected=system.itemType localize=true}}
      </select>
    </div>
    {{! Inheritance Traits }}
    {{#if (eq system.itemType "skill")}}
    <div class="flexcol">
      <label for="inheritance-trait-field" class="resource-label">{{localize
                "SMT.itemFields.inheritanceTraits"
              }}</label>
      <input type="text" id="inheritance-trait-field" name="system.inheritanceTraits" value="{{system.inheritanceTraits}}"
        data-dtype="String" />
    </div>
    {{! TN Modifier }}
    <div class="flexcol">
      <label for="tn-modifier-field" class="resource-label">{{localize
                "SMT.itemFields.tnMod"
              }}</label>
      <input type="number" id="tn-modifier-field" name="system.tnMod" value="{{system.tnMod}}" placeholder="0"
        data-dtype="Number" />
    </div>
    {{/if}}
    {{#unless (or (eq system.itemType "weapon") (eq system.itemType "equipment"))}}
    {{! Should we roll power for this? }}
    <div class="flexcol">
      <label for="power-roll-field" class="resource-label">{{localize
                "SMT.itemFields.hasPowerRoll"
              }}</label>
      <input type="checkbox" id="power-roll-field" name="system.hasPowerRoll" {{checked system.hasPowerRoll}} />
    </div>
    {{/unless}}
  </div>
  
  {{#if (eq system.itemType "skill")}}
  <div class="flexrow">
    {{! Crit Boost? }}
    <div class="flexcol">
      <label for="crit-boost-field" class="resource-label">{{localize
                "SMT.itemFields.hasCritBoost"
              }}</label>
      <input type="checkbox" id="crit-boost-field" name="system.hasCritBoost" {{checked system.hasCritBoost}} />
    </div>
    <div class="flexcol">
      <label for="pinhole-field" class="resource-label">{{localize
                "SMT.skills.pinhole"
              }}</label>
      <input type="checkbox" id="pinhole-field" name="system.pinhole" {{checked system.pinhole}} />
    </div>
    <div class="flexcol">
      <label for="focus-field" class="resource-label">{{localize "SMT.characterMods.focus"}}</label>
      <input type="checkbox" id="focus-field" name="system.focusEffect" {{checked system.focusEffect}} />
    </div>
  </div>
  {{/if}}
  {{#if (or (eq system.itemType "item") (eq system.itemType "equipment") (eq system.itemType "weapon"))}}
  <div class="flexcol">
    <label for="price-field" class="resource-label">{{localize "SMT.sheet.price"}}</label>
    <input type="number" id="price-field" name="system.price" value="{{system.price}}" placeholder="0"
      data-dtype="Number" />
  </div>
  {{/if}}
</section>