<section class="affinities flexcol">
  <div class="flexrow">
    <div class="flexcol">
      <label for="phys-affinity-field" class="resource-label flex0">{{localize "SMT.affinities.phys"}}</label>
      <select class="flex0" id="phys-affinity-field" name="system.affinities.phys">
        {{selectOptions SMT.affinityLevels selected=system.affinities.phys localize=true}}
      </select>
    </div>
    <div class="flexcol">
      <label for="fire-affinity-field" class="resource-label flex0">{{localize "SMT.affinities.fire"}}</label>
      <select class="flex0" id="fire-affinity-field" name="system.affinities.fire">
        {{selectOptions SMT.affinityLevels selected=system.affinities.fire localize=true}}
      </select>
    </div>
    <div class="flexcol">
      <label for="cold-affinity-field" class="resource-label flex0">{{localize "SMT.affinities.cold"}}</label>
      <select class="flex0" id="cold-affinity-field" name="system.affinities.cold">
        {{selectOptions SMT.affinityLevels selected=system.affinities.cold localize=true}}
      </select>
    </div>
    <div class="flexcol">
      <label for="elec-affinity-field" class="resource-label flex0">{{localize "SMT.affinities.elec"}}</label>
      <select class="flex0" id="elec-affinity-field" name="system.affinities.elec">
        {{selectOptions SMT.affinityLevels selected=system.affinities.elec localize=true}}
      </select>
    </div>
    <div class="flexcol">
      <label for="force-affinity-field" class="resource-label flex0">{{localize "SMT.affinities.force"}}</label>
      <select class="flex0" id="force-affinity-field" name="system.affinities.force">
        {{selectOptions SMT.affinityLevels selected=system.affinities.force localize=true}}
      </select>
    </div>
  </div>

  <div class="flexrow">
    <div class="flexcol">
      <label for="light-affinity-field" class="resource-label flex0">{{localize "SMT.affinities.light"}}</label>
      <select class="flex0" id="light-affinity-field" name="system.affinities.light">
        {{selectOptions SMT.affinityLevels selected=system.affinities.light localize=true}}
      </select>
    </div>
    <div class="flexcol">
      <label for="dark-affinity-field" class="resource-label flex0">{{localize "SMT.affinities.dark"}}</label>
      <select class="flex0" id="dark-affinity-field" name="system.affinities.dark">
        {{selectOptions SMT.affinityLevels selected=system.affinities.dark localize=true}}
      </select>
    </div>
    <div class="flexcol">
      <label for="ruin-affinity-field" class="resource-label flex0">{{localize "SMT.affinities.ruin"}}</label>
      <select class="flex0" id="ruin-affinity-field" name="system.affinities.ruin">
        {{selectOptions SMT.affinityLevels selected=system.affinities.ruin localize=true}}
      </select>
    </div>
    <div class="flexcol">
      <label for="nerve-affinity-field" class="resource-label flex0">{{localize "SMT.affinities.nerve"}}</label>
      <select class="flex0" id="nerve-affinity-field" name="system.affinities.nerve">
        {{selectOptions SMT.affinityLevels selected=system.affinities.nerve localize=true}}
      </select>
    </div>
    <div class="flexcol">
      <label for="mind-affinity-field" class="resource-label flex0">{{localize "SMT.affinities.mind"}}</label>
      <select class="flex0" id="mind-affinity-field" name="system.affinities.mind">
        {{selectOptions SMT.affinityLevels selected=system.affinities.mind localize=true}}
      </select>
    </div>
    <div class="flexcol">
      <label for="ailment-affinity-field" class="resource-label flex0">{{localize "SMT.affinities.ailment"}}</label>
      <select class="flex0" id="ailment-affinity-field" name="system.affinities.ailment">
        {{selectOptions SMT.affinityLevels selected=system.affinities.ailment localize=true}}
      </select>
    </div>
  </div>
</section>