<section class="alignment">
  <div class="items-list">
    <ol class="stat-list">
      <li class="item flexrow items-header">
        <div>{{localize "SMT.actorSheet.alignment"}}</div>
      </li>

      <li class="item flexrow">
        {{#each system.alignment as |value alignment|}}
          <label for="alignment-{{alignment}}-field" class="item-prop">
            {{localize (concat "SMT.alignment." alignment)}}</label>
          <input
            type="number"
            class="item-prop"
            id="alignment-{{alignment}}-field"
            name="system.alignment.{{alignment}}"
            value="{{value}}"
            placeholder="0"
            data-dtype="Number"
          />
        {{/each}}
      </li>
    </ol>
  </div>
</section>