<section class="background">
  <div class="items-list flexcol">
    <ol class="stat-list">
      <li class="item flexrow items-header">
        <div>{{localize "SMT.actorSheet.background"}}</div>
      </li>

      <li class="item flexrow item-prop">
        <label for="bg-field-1" class="item-prop">{{localize
            "SMT.actorSheet.bgNum"
            num=1
          }}</label>
        <input
          type="text"
          class="flex3"
          id="bg-field-1"
          name="system.bg1"
          value="{{system.bg1}}"
          data-dtype="String"
        />
      </li>

      <li class="item item-prop flexrow">
        <label for="bg-field-2" class="item-prop">{{localize
          "SMT.actorSheet.bgNum"
          num=2
        }}</label>
      <input
        type="text"
        class="flex3"
        id="bg-field-2"
        name="system.bg2"
        value="{{system.bg2}}"
        data-dtype="String"
      />
      </li>

      <li class="item item-prop flexrow">
        <label for="contact-field-1" class="item-prop">{{localize
            "SMT.actorSheet.contactNum"
            num=1
          }}</label>
        <input
          type="text"
          class="flex3"
          id="contact-field-1"
          name="system.contact1"
          value="{{system.contact1}}"
          data-dtype="String"
        />
      </li>

      <li class="item item-prop flexrow">
        <label for="contact-field-2" class="item-prop">{{localize
            "SMT.actorSheet.contactNum"
            num=2
          }}</label>
        <input
          type="text"
          class="flex3"
          id="contact-field-2"
          name="system.contact2"
          value="{{system.contact2}}"
          data-dtype="String"
        />
      </li>

      <li class="item item-prop flexrow">
        <label for="contact-field-3" class="item-prop">{{localize
            "SMT.actorSheet.contactNum"
            num=3
          }}</label>
        <input
          type="text"
          class="flex3"
          id="contact-field-3"
          name="system.contact3"
          value="{{system.contact3}}"
          data-dtype="String"
        />
      </li>

      <li class="item item-prop flexrow">
        <label for="bond-field" class="item-prop">{{localize
            "SMT.actorSheet.bond"
          }}</label>
        <input
          type="text"
          class="flex3"
          id="bond-field"
          name="system.bond"
          value="{{system.bond}}"
          data-dtype="String"
        />
      </li>

      <li class="item item-prop flexrow">
        <label for="goal-field">{{localize
            "SMT.actorSheet.goal"
          }}</label>
        <input
          type="text"
          class="flex3"
          id="goal-field"
          name="system.goal"
          value="{{system.goal}}"
          data-dtype="String"
        />
      </li>
    </ol>
  </div>
</section>