<section class="background">
  <div class="items-list flexcol">
    <ol class="stat-list">
      <li class="item flexrow items-header">
        <div>{{localize "SMT.actorSheet.background"}}</div>
      </li>
    </ol>

    <li class="item flexrow">
      <label for="bg-field-1" class="item-prop">{{localize
          "SMT.actorSheet.bgNum"
          num=1
        }}</label>
      <input
        type="text"
        class="item-prop flex3"
        id="bg-field-1"
        name="system.bg1"
        value="{{system.bg1}}"
        data-dtype="String"
      />
      <label for="bg-field-2" class="item-prop">{{localize
          "SMT.actorSheet.bgNum"
          num=2
        }}</label>
      <input
        type="text"
        class="item-prop flex3"
        id="bg-field-2"
        name="system.bg2"
        value="{{system.bg2}}"
        data-dtype="String"
      />
    </li>

    <li class="item flexrow">
      <label for="contact-field-1" class="item-prop">{{localize
          "SMT.actorSheet.contactNum"
          num=1
        }}</label>
      <input
        type="text"
        class="item-prop flex3"
        id="contact-field-1"
        name="system.contact1"
        value="{{system.contact1}}"
        data-dtype="String"
      />
      <label for="contact-field-2" class="item-prop">{{localize
          "SMT.actorSheet.contactNum"
          num=2
        }}</label>
      <input
        type="text"
        class="item-prop flex3"
        id="contact-field-2"
        name="system.contact2"
        value="{{system.contact2}}"
        data-dtype="String"
      />
    </li>

    <li class="item flexrow">
      <label for="bond-field" class="item-prop">{{localize
          "SMT.actorSheet.bond"
        }}</label>
      <input
        type="text"
        class="item-prop flex3"
        id="bond-field"
        name="system.bond"
        value="{{system.bond}}"
        data-dtype="String"
      />
    </li>
  </div>
</section>