<section class="buffs">
  <div class="items-list flexcol">
    <ol class="stat-list">
      <li class="item flexrow items-header">
        <div>{{localize "SMT.actorSheet.buffs"}}</div>
      </li>

      <li class="item flexrow">
        <label for="tarukaja-field" class="item-prop">{{localize
            "SMT.buffs.tarukaja"
          }}</label>
        <input
          type="number"
          class="item-prop"
          id="tarukaja-field"
          name="system.buffs.tarukaja"
          value="{{system.buffs.tarukaja}}"
          placeholder="+"
          data-dtype="Number"
        />
        <input
          type="number"
          class="item-prop"
          name="system.buffs.tarunda"
          value="{{system.buffs.tarunda}}"
          placeholder="-"
          data-dtype="Number"
        />
        <label for="sukukaja-field" class="item-prop">{{localize
            "SMT.buffs.sukukaja"
          }}</label>
        <input
          type="number"
          class="item-prop"
          id="sukukaja-field"
          name="system.buffs.sukukaja"
          value="{{system.buffs.sukukaja}}"
          placeholder="+"
          data-dtype="Number"
        />
        <input
          type="number"
          class="item-prop"
          name="system.buffs.sukunda"
          value="{{system.buffs.sukunda}}"
          placeholder="-"
          data-dtype="Number"
        />
      </li>

      <li class="item flexrow">
        <label for="makakaja-field" class="item-prop">{{localize
            "SMT.buffs.makakaja"
          }}</label>
        <input
          type="number"
          class="item-prop"
          id="makakaja-field"
          name="system.buffs.makakaja"
          value="{{system.buffs.makakaja}}"
          placeholder="+"
          data-dtype="Number"
        />

        <label for="rakukaja-field" class="item-prop">{{localize
            "SMT.buffs.rakukaja"
          }}</label>
        <input
          type="number"
          class="item-prop"
          id="rakukaja-field"
          name="system.buffs.rakukaja"
          value="{{system.buffs.rakukaja}}"
          placeholder="+"
          data-dtype="Number"
        />
        <input
          type="number"
          class="item-prop"
          name="system.buffs.rakunda"
          value="{{system.buffs.rakunda}}"
          placeholder="-"
          data-dtype="Number"
        />
      </li>
    </ol>
  </div>
</section>