<section class="derived-stats">
  <div class="items-list flexcol">
    <ol class="items-list">
      <li class="item flexrow items-header">
        {{!-- Stat name --}}
        <div>{{localize "SMT.actorSheet.derivedStats"}}</div>
      </li>

      <li class="item flexrow">
        <div class="item-prop">{{localize "SMT.actorSheet.basePhysPower"}}</div>
        <div class="item-prop">{{localize "SMT.derivedStatFormula.basePhysPower"}}</div>
        <div class="item-prop" data-roll-name="{{localize "SMT.dialog.basePhysLabel"}}"
          data-atk-category="phys" data-base-power="{{system.power.phys}}" data-affinity="phys">
          {{system.power.phys}}
        </div>
      </li>

      <li class="item flexrow">
        <div class="item-prop">{{localize "SMT.actorSheet.baseMagPower"}}</div>
        <div class="item-prop">{{localize "SMT.derivedStatFormula.baseMagPower"}}</div>
        <div class="item-prop" data-roll-name="{{localize "SMT.dialog.baseMagLabel"}}"
          data-atk-category="mag" data-base-power="{{system.power.mag}}" data-affinity="mag">
          {{system.power.mag}}
        </div>
      </li>

      <li class="item flexrow">
        <div class="item-prop">{{localize "SMT.actorSheet.physResist"}}</div>
        <div class="item-prop">{{localize "SMT.derivedStatFormula.physResist"}}</div>
        <div class="item-prop">{{system.resist.phys}}</div>
      </li>

      <li class="item flexrow">
        <div class="item-prop">{{localize "SMT.actorSheet.magResist"}}</div>
        <div class="item-prop">{{localize "SMT.derivedStatFormula.magResist"}}</div>
        <div class="item-prop">{{system.resist.mag}}</div>
      </li>
    </ol>
  </div>
</section>