<section class="derived-stats">
  <div class="resource-label flex-group-center flex0">{{localize "SMT.actorSheet.derivedStats"}}</div>
  <div class="items-list flexcol">
    <ol class="items-list">
      <li class="item flexrow items-header">
        {{!-- Stat name --}}
        <div>{{localize "SMT.actorSheet.stat"}}</div>
        {{!-- Stat formula --}}
        <div class="flex2">{{localize "SMT.actorSheet.formula"}}</div>
      </li>

      <li class="item flexrow">
        <div class="item-prop">{{localize "SMT.actorSheet.basePhysPower"}}</div>
        <div class="item-prop">{{localize "SMT.derivedStatFormula.basePhysPower"}}</div>
        <div class="item-prop roll-highlight">{{system.power.phys}}</div>
      </li>

      <li class="item flexrow">
        <div class="item-prop">{{localize "SMT.actorSheet.baseMagPower"}}</div>
        <div class="item-prop">{{localize "SMT.derivedStatFormula.baseMagPower"}}</div>
        <div class="item-prop roll-highlight">{{system.power.mag}}</div>
      </li>

      <li class="item flexrow">
        <div class="item-prop">{{localize "SMT.actorSheet.physResist"}}</div>
        <div class="item-prop">{{localize "SMT.derivedStatFormula.physResist"}}</div>
        <div class="item-prop">{{system.resist.phys}}</div>
      </li>

      <li class="item flexrow">
        <div class="item-prop">{{localize "SMT.actorSheet.magResist"}}</div>
        <div class="item-prop">{{localize "SMT.derivedStatFormula.magResist"}}</div>
        <div class="item-prop">{{system.resist.mag}}</div>
      </li>
    </ol>
  </div>
</section>