<header class="sheet-header">
  <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
  <div class="header-fields">
    <h1 class="charname">
      <input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
    </h1>

    <div class="flexrow">
      <div class="flexrow">
        <label for="charClass" class="resource-label">{{localize "SMT.actorFields.charClass"}}</label>
        <select name="system.charClass" id="charClass">
          {{selectOptions SMT.charClassLocs selected=system.charClass localize=true}}
        </select>
      </div>

      <div class="flexrow">
        <label for="level" class="resource-label">{{localize "SMT.actorFields.level"}}</label>
        <input type="number" id="level" name="system.level" data-dtype="Number" value="{{system.level}}" />
      </div>
    </div>
  </div>
</header>