<section class="skills">
  <div class="items-list flexcol flexlarge">
    <ol class="items-list">
      <li class="item flexrow flex-group-center items-header">
        {{localize "SMT.actorSheet.misc"}}
      </li>

      {{#if isGM}}
      <li class="item flexrow flex-group-center flex-between">
        <label for="hp-boost-field" class="item-name">{{localize "SMT.resourceBoost.hp"}}</label>
        <div class="item-prop">
          <input type="number" id="hp-boost-field" name="system.resourceBoost.hp" value="{{system.resourceBoost.hp}}"
            data-dtype="Number" />
        </div>

        <label for="mp-boost-field" class="item-name">{{localize "SMT.resourceBoost.mp"}}</label>
        <div class="item-prop">
          <input type="number" id="mp-boost-field" name="system.resourceBoost.mp" value="{{system.resourceBoost.mp}}"
            data-dtype="Number" />
        </div>
      </li>
      {{/if}}

      <li class="item flexrow flex-group-center flex-between">
        <label for="phys-resist-bonus-field" class="item-name">{{localize "SMT.actorSheet.physResist"}}</label>
        <div class="item-prop">
          <input type="number" id="phys-resist-bonus-field" name="system.resistBonus.phys"
            value="{{system.resistBonus.phys}}" data-dtype="Number" />
        </div>

        <label for="mag-resist-bonus-field" class="item-name">{{localize "SMT.actorSheet.magResist"}}</label>
        <div class="item-prop">
          <input type="number" id="mag-resist-bonus-field" name="system.resistBonus.mag"
            value="{{system.resistBonus.mag}}" data-dtype="Number" />
        </div>
      </li>
    </ol>
  </div>
</section>