<section class="resources">
  <div class="flexrow flex-group-center">
    <div class="resource flex-group-center">
      <label class="resource-label">{{localize "SMT.actorFields.hp"}}</label>
      <div class="resource-content flexrow flex-center">
        <input type="text" name="system.hp.value" value="{{system.hp.value}}" placeholder="0" data-dtype="Number" />
        <span> / </span>
        <input type="text" name="system.hp.max" value="{{system.hp.max}}" data-dtype="Number" disabled />
      </div>
    </div>

    <div class="resource flex-group-center">
      <label class="resource-label">{{localize "SMT.actorFields.mp"}}</label>
      <div class="resource-content flexrow flex-center">
        <input type="text" name="system.mp.value" value="{{system.mp.value}}" placeholder="0" data-dtype="Number" />
        <span> / </span>
        <input type="text" name="system.mp.max" value="{{system.mp.max}}" data-dtype="Number" disabled />
      </div>
    </div>

    <div class="resource flex-group-center">
      <label class="resource-label">{{localize "SMT.actorFields.fp"}}</label>
      <div class="resource-content flexrow flex-center">
        <input type="text" name="system.fp.value" value="{{system.fp.value}}" placeholder="0" data-dtype="Number" />
        <span> / </span>
        <input type="text" name="system.fp.max" value="{{system.fp.max}}" data-dtype="Number" disabled />
      </div>
    </div>
  </div>
</section>