<section class="skills">
  <div class="items-list flexcol flexlarge">
    <ol class="items-list">
      <li class="item flexrow flex-group-center items-header">
        {{!-- Skill --}}
        <div class="item-name flex2">{{localize "SMT.skillPane.skill"}}</div>
        {{!-- Cost or Ammo Count --}}
        <div class="item-cost">{{localize "SMT.skillPane.cost"}}</div>
        {{!-- TN --}}
        <div class="item-tn">{{localize "SMT.skillPane.tn"}}</div>
        {{!-- Total Power --}}
        <div class="item-power">{{localize "SMT.skillPane.power"}}</div>
        {{!-- Target --}}
        {{!-- 1 target | All enemies | All allies | All combatants | Self --}}
        <div class="item-target">{{localize "SMT.skillPane.target"}}</div>
        {{!-- Element --}}
        <div class="item-element">{{localize "SMT.skillPane.element"}}</div>
        <div class="item-element">{{localize "SMT.skillPane.expended"}}</div>
        {{!-- Type --}}
        {{!-- Physical Attack | Magical Attack | Spell | Passive | Talk --}}
        <div class="item-skill-type">{{localize "SMT.skillPane.actionType"}}</div>
        <div class="item-controls">
          <a class="item-control item-create" title="{{localize "SMT.sheet.newItem"}}" data-item-type="skill">
            <i class="fas fa-plus"></i> {{localize "SMT.sheet.addItem"}}</a>
        </div>
        </li>
        {{#each skills}}
        <li class="item flexrow flex-group-center flex-between" data-item-id="{{skill.id}}">
          <div class="item-prop">{{indexLabel}}</div>
          {{!-- Skill --}}
          <a class="item-name flex2 roll-skill roll-highlight">
            <div class="item-image">
              <img src="{{skill.img}}" title="{{skill.name}}" width="24" height="24" />
            </div>
            <div class="item-name">{{skill.name}}</div>
          </a>
          {{!-- Cost or Ammo Count --}}
        <div class="item-prop item-cost">
          {{#if (gt skill.system.cost 0)}}{{concat skill.system.cost " " (localize (concat "SMT.resources." skill.system.costType))}}{{else}}—{{/if}}
        </div>
        {{!-- TN --}}
        <div class="item-prop item-tn">
          {{#if (and (eq skill.system.accuracyStat "auto") (ne skill.system.actionType "talk"))}}Auto{{else}}{{skill.system.tn}}%{{/if}}</div>
        {{!-- Total Power --}}
        <div class="item-prop item-power">{{#if skill.system.hasPowerRoll}}{{skill.system.power}}{{else}}—{{/if}}</div>
        {{!-- Target --}}
        {{!-- 1 target | All enemies | All allies | All combatants | Self --}}
        <div class="item-prop item-target">
          {{#unless (or (eq skill.system.actionType "other") (eq skill.system.actionType "passive"))}}{{localize (concat "SMT.target." skill.system.target)}}{{else}}—{{/unless}}
        </div>
        {{!-- Element --}}
        <div class="item-prop item-element">{{localize (concat "SMT.affinities." skill.system.affinity)}}</div>
        <div class="item-prop item-expended"><input class="item-update" type="checkbox" data-field-name="system.expended"
            data-checked="{{skill.system.expended}}" data-dtype="Boolean" {{checked skill.system.expended}}
            {{#unless (eq skill.system.actionType "other")}}disabled{{/unless}} />
        </div>
        {{!-- Type --}}
          {{!-- Physical Attack | Magical Attack | Spell | Passive | Talk --}}
        <div class="item-prop item-skill-type">{{localize (concat "SMT.actionTypes." skill.system.actionType)}}</div>
        <div class="item-controls">
          <a class="item-control{{#unless skill.system.basicStrike}} item-edit{{/unless}}" title="{{localize "SMT.sheet.editItem"}}"><i
              class="fas{{#unless skill.system.basicStrike}} fa-edit{{/unless}}"></i></a>
          <a class="item-control{{#unless skill.system.basicStrike}} item-delete{{/unless}}"
            title="{{localize "SMT.sheet.deleteItem"}}"><i class="fas{{#unless skill.system.basicStrike}} fa-trash{{/unless}}"></i></a>
        </div>
      </li>
      {{/each}}
    </ol>
  </div>
</section>