<section class="stats">
  {{! BASE | MAGATAMA (if Fiend) | LV | TOTAL | REG TN LABEL | REG TN | SPC TN LABEL | SPC TN }}
  <div class="resource-label flex-group-center flex0">{{localize "SMT.actorSheet.stats"}}</div>
  {{! Maybe wrap this in a div }}
  <table class="stats items-list">
    <thead class="stat">
      <tr>
        {{! Stat name }}
        <th>{{localize "SMT.actorSheet.stats"}}</th>
        {{! Base stat}}
        <th>{{localize "SMT.actorSheet.baseStat"}}</th>
        {{! Magatama mod}}
        {{#if (eq system.charClass "fiend")}}
        <th>{{localize "SMT.actorSheet.magatamaShort"}}</th>
        {{/if}}
        {{! LV points }}
        <th>{{localize "SMT.actorSheet.levelShort"}}</th>
        {{! Total stat }}
        <th>{{localize "SMT.actorSheet.statTotal"}}</th>
        {{! Stat TN }}
        <th>{{localize "SMT.actorSheet.tn"}}</th>
        {{! Special target numbers (Span 3 rows) }}
        <th colspan="3">{{localize "SMT.actorSheet.specialTN"}}</th>
      </tr>
    </thead>
    <tbody>
      {{! Individual stat data, with #each }}
      {{#each system.stats}}
      <tr class="stat">
        {{! Stat name }}
        <th>{{localize (concat "SMT.stats." @key)}}</th>
        {{! Base stat}}
        <td><input type="number" name="system.stats.{{@key}}.base" value="{{base}}" placeholder="0" data-dtype="Number" /></td>
        {{! Magatama mod}}
        {{#if (eq system.charClass "fiend")}}
        <td><input type="number" name="system.stats.{{@key}}.magatama" value="{{magatama}}" placeholder="0" data-dtype="Number" /></td>
        {{/if}}
        {{! LV points }}
        <td><input type="number" name="system.stats.{{@key}}.lv" value="{{lv}}" placeholder="0" data-dtype="Number" /></td>
        {{! Total stat }}
        <td><input type="number" name="system.stats.{{@key}}.value" value="{{value}}" placeholder="0" data-dtype="Number" disabled />
        </td>
        {{! Stat TN }}
        <td class="roll-highlight roll-stat-tn" data-roll-type="tn" data-stat="{{@key}}">{{tn}}%</td>
        {{! Special TN name }}
        <th>{{localize (concat "SMT.specialTN." @key)}}</th>
        {{! Special TN formula }}
        <td>{{localize (concat "SMT.specialTNFormula." @key)}}</td>
        {{! Special TN }}
        <td class="roll-highlight roll-stat-tn" data-roll-type="specialTN" data-stat="{{@key}}">{{specialTN}}%</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</section>