<section class="stats flex3">
  <div class="items-list flexcol">
    <ol class="items-list">
      <li class="item flexrow items-header">
        {{!-- Stat Name --}}
        <div>{{localize "SMT.actorSheet.stats"}}</div>
        {{!-- Base --}}
        <div>{{localize "SMT.actorSheet.baseStat"}}</div>
        {{!-- Magatama Mod --}}
        {{#if (eq system.charClass "fiend")}}
        <div>{{localize "SMT.actorSheet.magatamaShort"}}</div>
        {{/if}}
        {{!-- LV points --}}
        <div>{{localize "SMT.actorSheet.levelShort"}}</div>
        {{!-- Total Stat --}}
        <div>{{localize "SMT.actorSheet.statTotal"}}</div>
        {{!-- Stat TN --}}
        <div>{{localize "SMT.actorSheet.tn"}}</div>
        {{!-- Special TN label --}}
        <div>{{localize "SMT.actorSheet.specialTN"}}</div>
        {{!-- Special TN --}}
        <div>{{localize "SMT.actorSheet.tn"}}</div>
      </li>

      {{#each system.stats}}
      <li class="item flexrow">
        {{!-- Stat Name --}}
        <div class="item-prop">{{localize (concat "SMT.tn." @key)}}</div>
        {{!-- Base --}}
        <div class="item-prop"><input type="number" name="system.stats.{{@key}}.base" value="{{base}}" placeholder="0"
            data-dtype="Number" /></div>
        {{!-- Magatama Mod --}}
        {{#if (eq ../system.charClass "fiend")}}
        <div class="item-prop"><input type="number" name="system.stats.{{@key}}.magatama" value="{{magatama}}"
            placeholder="0" data-dtype="Number" /></div>
        {{/if}}
        {{!-- LV points --}}
        <div class="item-prop"><input type="number" name="system.stats.{{@key}}.lv" value="{{lv}}" placeholder="0"
            data-dtype="Number" />
        </div>
        {{!-- Total Stat --}}
        <div class="item-prop">{{value}}</div>
        {{!-- Stat TN --}}
        <div class="item-prop roll-highlight roll-stat" data-tn-type="tn" data-accuracy-stat="{{@key}}">{{tn}}%</div>
        {{!-- Special TN label --}}
        <div class="item-prop item-name">{{localize (concat "SMT.specialTN." @key)}}</div>
        {{!-- Special TN --}}
        <div class="item-prop roll-highlight roll-stat" data-tn-type="specialTN" data-accuracy-stat="{{@key}}">
          {{#if (eq @key "st")}}{{../system.tn.st}}%{{/if}}
          {{#if (eq @key "ma")}}{{../system.tn.ma}}%{{/if}}
          {{#if (eq @key "vi")}}{{../system.tn.save}}%{{/if}}
          {{#if (eq @key "ag")}}{{../system.tn.dodge}}%{{/if}}
          {{#if (eq @key "lu")}}{{../system.tn.negotiation}}%{{/if}}
        </div>
      </li>
      {{/each}}
    </ol>
  </div>
</section>