<section class="stats">
  <div class="resource-label flex-group-center flex0">{{localize "SMT.actorSheet.stats"}}</div>
  <div class="items-list flexcol">
    <ol class="items-list">
      <li class="item flexrow items-header">
        {{!-- Stat Name --}}
        <div>{{localize "SMT.actorSheet.stats"}}</div>
        {{!-- Base --}}
        <div>{{localize "SMT.actorSheet.baseStat"}}</div>
        {{!-- Magatama Mod --}}
        {{#if (eq system.charClass "fiend")}}
        <div>{{localize "SMT.actorSheet.magatamaShort"}}</div>
        {{/if}}
        {{!-- LV points --}}
        <div>{{localize "SMT.actorSheet.levelShort"}}</div>
        {{!-- Total Stat --}}
        <div>{{localize "SMT.actorSheet.statTotal"}}</div>
        {{!-- Stat TN --}}
        <div>{{localize "SMT.actorSheet.tn"}}</div>
        {{!-- Special TN label --}}
        <div>{{localize "SMT.actorSheet.specialTN"}}</div>
        {{!-- Special TN formula --}}
        <div>{{localize "SMT.actorSheet.formula"}}</div>
        {{!-- Special TN --}}
        <div>{{localize "SMT.actorSheet.tn"}}</div>
      </li>

      {{#each system.stats}}
      <li class="item flexrow">
        {{!-- Stat Name --}}
        <div class="item-prop">{{localize (concat "SMT.statShort." @key)}}</div>
        {{!-- Base --}}
        <div class="item-prop"><input type="number" name="system.stats.{{@key}}.base" value="{{base}}" placeholder="0"
            data-dtype="Number" /></div>
        {{!-- Magatama Mod --}}
        {{#if (eq ../system.charClass "fiend")}}
        <div class="item-prop"><input type="number" name="system.stats.{{@key}}.magatama" value="{{magatama}}"
            placeholder="0" data-dtype="Number" /></div>
        {{/if}}
        {{!-- LV points --}}
        <div class="item-prop"><input type="number" name="system.stats.{{@key}}.lv" value="{{lv}}" placeholder="0"
            data-dtype="Number" />
        </div>
        {{!-- Total Stat --}}
        <div class="item-prop"><input type="number" name="system.stats.{{@key}}.value" value="{{value}}" placeholder="0"
            data-dtype="Number" disabled />
        </div>
        {{!-- Stat TN --}}
        <div class="item-prop roll-highlight roll-stat-tn" data-roll-type="stats" data-stat="{{@key}}">{{tn}}%</div>
        {{!-- Special TN label --}}
        <div class="item-prop item-name">{{localize (concat "SMT.specialTN." @key)}}</div>
        {{!-- Special TN formula --}}
        <div class="item-prop">{{localize (concat "SMT.specialTNFormula." @key)}}</div>
        {{!-- Special TN --}}
        <div class="item-prop roll-highlight roll-stat-tn" data-roll-type="specialTN" data-stat="{{@key}}">
          {{specialTN}}%
        </div>
      </li>
      {{/each}}
    </ol>
  </div>
</section>