<div class="flexcol">
  <div class="flexrow">
    <div class="flexrow">
      {{!-- Skill class (Phys Atk, Mag Atk, Spell, Passive, Other) --}}
      <label for="skill-type-field" class="resource-label">{{localize "SMT.itemFields.skillType"}}</label>
      <select id="skill-type-field" name="system.skillType">
        {{selectOptions SMT.skillTypes localize=true}}
      </select>
    </div>
    <div class="flexrow">
      {{!-- Accuracy Stat --}}
      <label for="accuracy-stat-field" class="resource-label">{{localize "SMT.itemFields.accuracyStat"}}</label>
      <select id="accuracy-stat-field" name="system.accuracyStat">
        {{selectOptions SMT.accuracyStats localize=true}}
      </select>
    </div>
  </div>

  <div class="flexrow">
    <div class="flexrow">
      {{!-- Cost --}}
      <label for="cost-field" class="resource-label">{{localize "SMT.itemFields.cost"}}</label>
      <input type="number" id="cost-field" name="system.cost" value="{{system.cost}}" placeholder="0"
        data-dtype="Number" />
    </div>
    <div class="flexrow">
      {{!-- HP or MP --}}
      <select name="system.costType">
        {{selectOptions SMT.skillCostTypes localize=true}}
      </select>
    </div>
  </div>

  <div class="flexrow">
    <div class="flexrow">
      {{!-- Target --}}
      <label for="target-field" class="resource-label">{{localize "SMT.itemFields.target"}}</label>
      <input type="text" id="target-field" name="system.target" placeholder="1 enemy" value="{{system.target}}"
        data-dtype="String" />
    </div>
    <div class="flexrow">
      {{!-- Affinity --}}
      <label for="affinity-field" class="resource-label">{{localize "SMT.itemFields.affinity"}}</label>
      <select id="affinity-field" name="system.affinity">
        {{selectOptions SMT.skillAffinities localize=true}}
      </select>
    </div>
  </div>

  <div class="flexrow">
    <div class="flexrow">
      {{!-- Power Class (phys, mag, gun) --}}
      <label for="power-category-field" class="resource-label">{{localize "SMT.itemFields.powerCategory"}}</label>
      <select id="power-category-field" name="system.powerCategory">
        {{selectOptions SMT.powerCategories localize=true}}
      </select>
    </div>
    <div class="flexrow">
      {{!-- Potency --}}
      <label for="potency-field" class="resource-label">{{localize "SMT.itemFields.potency"}}</label>
      <input type="number" id="potency-field" name="system.potency" value="{{system.potency}}" placeholder="0"
        data-dtype="Number" />
    </div>
  </div>

  <div class="flexrow">
    <div class="flexrow">
      {{!-- Ailment --}}
      <label for="ailment-field" class="resource-label">{{localize "SMT.itemFields.ailment"}}</label>
      <select id="ailment-field" name="system.ailment">
        {{selectOptions SMT.ailments blank=(localize "SMT.ailments.none") localize=true}}
      </select>
    </div>
    <div class="flexrow">
      {{!-- Ailment Rate --}}
      <label for="ailment-rate-field" class="resource-label">{{localize "SMT.itemFields.ailmentRate"}}</label>
      <input type="number" id="ailment-rate-field" name="system.ailmentRate" value="{{system.ailmentRate}}" placeholder="0"
        data-dtype="Number" />
    </div>
  </div>
  
  <div class="flexrow">
    <div class="flexrow">
      {{!-- TN Modifier --}}
      <label for="tn-mod-field" class="resource-label">{{localize "SMT.itemFields.tnMod"}}</label>
      <input type="number" id="tn-mod-field" name="system.tnMod" value="{{system.tnMod}}" placeholder="0"
        data-dtype="Number" />
    </div>
    <div class="flexrow">
      {{!-- Crit Boost? --}}
      <label for="crit-boost-field" class="resource-label">{{localize "SMT.itemFields.critBoost"}}</label>
      <input type="checkbox" id="crit-boost-field" name="system.hasCritBoost" {{checked system.hasCritBoost}} />
    </div>
  </div>
</div>